.card.producto {
    width: 18rem;
    margin-top: 1rem;
    margin-left: 1rem;
    max-width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
}
.producto-zoom:hover {
    transform: scale(1.1);
    transition-duration: 1.5s; 
}  
