
.itemCount{
    padding: 10px 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ProductAmountContainer{
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 30px;
    color: rgb(245, 17, 203);
};

.ProductAmount{
    font-size: 24px;
    margin: 5px;

}


